{% extends "personal/header.html" %}

{% block content %}
<p>Hey, welcome to my website!</p>
<p>I am an electrical engineer that likes working on new projects in my free time and when I get around to it, I write about them here. To see them click on "Blog" in the navigation bar above.</p>
<p>If you are interested in contacting me, you can email me at artinisagholian@gmail.com</p>
<p>This website is being built from scratch using Django and is currently still under construction so please bear with me as I iron things out :). If you are interested in the source code for this website, check out my GitHub.</p>


{% endblock %}

