{% extends "personal/header.html" %}
{% block content %}

<style>
	.btn.btn-primary {
	color: #fff;
	background-color: rgb(82, 142, 193)!important;;
	border-color: rgb(82, 142, 193)!important;;
	}
	.btn.btn-primary.focus,
	.btn.btn-primary:focus {
	color: #fff;
	background-color: rgb(82, 142, 193)!important;;
	border-color: rgb(82, 142, 193)!important;;
	outline: none;
	box-shadow: none;
	}
	.btn.btn-primary:hover {
	color: #fff;
	background-color: rgb(0, 123, 255)!important;;
	border-color: rgb(0, 123, 255)!important;;
	outline: none;
	box-shadow: none;
	}
	.btn.btn-primary:active {
	color: #fff;
	background-color: rgb(82, 142, 193)!important;;
	border-color: rgb(82, 142, 193)!important;;
	outline: none;
	}
	.btn.btn-primary.active.focus,
	.btn.btn-primary.active:focus,
	.btn.btn-primary.active:hover,
	.btn.btn-primary:active.focus,
	.btn.btn-primary:active:focus,
	.btn.btn-primary:active:hover {
	color: #fff;
	background-color: rgb(0, 123, 255)!important;;
	}
		
	.card-img-top{
		max-width:300px;
		height:auto;
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	
	.card-title{
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	
	.card-text{
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	
	.col-sm{
		padding-bottom: 30px;
	}
	

</style>

<div class="row">
	{% for post in object_list %}
    <!-- 
		<h5>{{ post.date|date:"Y-m-d" }}
            <a href="/blog/{{post.id}}">{{ post.title }}</a>
        </h5>
        <img src="/media/{{ post.thumbnail}}" alt="test">
        -->
	<!-- size 4 on a large screen, 12 on a small, 6 on a med -->
        <div class="col-sm d-flex"">
				<div class="card border-primary h-100">
				  <div style="text-align:center">
					<br>
					<h5 class="card-title"><strong>{{ post.title }}</strong></h5>
					<img class="card-img-top img-fluid" src="/media/{{ post.thumbnail}}" >
				  </div>
				  <div class="card-body" style="text-align:left">
					<p class="card-text">&nbsp&nbsp&nbsp&nbsp&nbsp{{ post.summary|truncatechars:150}}</p>
						<a href="/blog/{{post.id}}" class="btn btn-primary">View</a>
				  </div>
				</div>
			</div>
            <br>
            <br>
        {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
        {% else %}
            {% if forloop.last %}
            {% endif %}
        {% endif %}
	{% endfor %}
{% endblock %}

